@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
}

/*
.exo-<uniquifier> {
  font-family: "Exo", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
  */

header{
  height: 100vh;
  border-radius: 50%;
}

header::before{
    content: '';
    background-image: url(../assets/images/Home.png);
    background-color: black;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: block;
    position: absolute;
    z-index: -10;
}


#Lore{
  height: 100vh;
  border-radius: 50%;
  display: flex;
}

#Lore::before{
  content: '';
  background-color: black;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: block;
  position: absolute;
  z-index: -10;
}

#Images-Inaros{
  height: 100vh;
  border-radius: 50%;
  display: flex;
  justify-content: space-between;
}

#Images-Inaros::before{
  content: '';
  background-color: black;
  background-size: cover;
  height: 115vh;
  width: 100vw;
  display: block;
  position: absolute;
  z-index: -10;
}


h3{
  margin: 0px;

  font-family: "Exo", sans-serif;
  
  color: #957aff;

  font-style: normal;

  font-size: 48px;

}


p{
  margin: 10px;
  font-family: "Exo", sans-serif;
  
  color: #91b1f5;

  font-style: normal;

  font-size: 24px;

}

ul{
  margin: 15px;
  font-family: "Exo", sans-serif;
  
  color: #7d91f5;

  font-style: normal;

  font-size: 20px;

}
