@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');

/*
.exo-<uniquifier> {
  font-family: "Exo", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
  */


header::before{
    content: '';
    background-image: url(../assets/images/Home.png);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: block;
    position: absolute;
    z-index: -10;
}


h1{
    font-family: "Exo", sans-serif;
    
    color: rgb(165, 145, 245);

    font-weight: 500;

    font-style: normal;

    font-size: 200px;

}


p{
    font-family: "Exo", sans-serif;
    
    color: rgb(145, 177, 245);

    font-weight: 500;

    font-style: normal;

    font-size: 100px;

}

ul{
    font-family: "Exo", sans-serif;
    
    color: rgb(125, 145, 245);

    font-weight: 500;

    font-style: normal;

    font-size: 100px;

}

